/*
|--------------------------------------------------------------------------
| Règles spécifiques de la colonne d'actualités.
|--------------------------------------------------------------------------
*/
.column {
   @include respond-to(mobile) {
      display: none;
   }
   @include respond-to(tablet) {
      background-color: lighten($black, 30%);
      color: $backgroundColor;
      display: table-cell;
      font-weight: 400;
      width: 23.5%;
   }
}

.lasts__title {
   @include respond-to(tablet) {
      background-color: $gradColorFrom;
      color: $backgroundColor;
      font-size: 15px;
      font-weight: 400;
      line-height: 2.5em;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
   }
}

.lasts__list {
   @include respond-to(tablet) {
      list-style-type: square;
      list-style-position: inside;
      margin: .3em 0;
      padding: 0 .4em;
   }
   @include respond-to(desktop) {
      list-style-type: none;
   }
}

.lasts__item {
   @include nowrap();
   overflow: hidden;
   margin-bottom: .3em;
   @include respond-to(desktop) {
      line-height: 1.8em;
      height: 1.8em;
      text-overflow: ellipsis;
      &:last-of-type {
         margin-bottom: 0;
      }
      &:hover .lasts__item__link {
         margin-left: .3em;
      }
   }
}

.lasts__item__link {
   @include transition-duration(.1s);
   @include transition-property(all);
   @include transition-timing-function(linear);
   margin-left: .1em;
}

.lasts__item__time {
   display: none;
   @include respond-to(desktop) {
      background-color: $gradColorFrom;
      color: lighten($fontColorLight, 20%);
      display: inline;
      padding: .2em .3em;
   }
}

noscript p {
   &:first-of-type {
      margin-top: 0;
   }
   &:last-of-type {
      margin: 0;
   }
}