.container {
    font-weight: 400;
    height: auto;
    overflow: hidden;
    text-align: justify;
    zoom: 1;
    @include respond-to(tablet) { margin-top: 20px; position: relative }
}
.content-head {
    @include respond-to(mobile) { display: none }
    @include respond-to(tablet) {
    background-color: $gradColorFrom;
    display: block;
    font-size: 15px;
    line-height: 2.5em;
    text-align: center;
    width: 100%;
    span { padding-right: 5px }
    }
}
.breadcrumb {
    @include respond-to(mobile) { display: none }
    @include respond-to(tablet) {
        background-color: $gradColorFrom;
        color: $backgroundColor;
        display: block;
        font-size: 15px;
        line-height: 2.5em;
        padding-left: 10px;
        width: 100%;
        & > span:before { content: "Vous \00eates ici : " }
        & * .separator:before { content: "\20\5C\20"; font-style: normal }
    }
}
