.container {
    font-weight: 400;
    height: auto;
    overflow: hidden;
    text-align: justify;
    zoom: 1;
    @include respond-to(tablet) { margin-top: 20px; position: relative }
}
.content-head {
    @include respond-to(mobile) { display: none }
    @include respond-to(tablet) {
    background-color: $md-clr-grey-900;
    display: block;
    font-size: 15px;
    line-height: 2.5em;
    text-align: center;
    width: 100%;
    span { padding-right: 5px }
    }
}
.breadcrumb {
    @include respond-to(mobile) { display: none }
    @include respond-to(tablet) {
        background-color: $md-clr-grey-900;
        color: $md-clr-grey-50;
        display: block;
        font-size: 15px;
        line-height: 2.5em;
        padding-left: 10px;
        width: 100%;
        & > span:before { content: "Vous \00eates ici : " }
        & * .separator:before { content: "\20\5C\20"; font-style: normal }
        a {
            transform: translateZ(0);
            @include transition-duration(.2s);
            @include transition-property(color);
            @include transition-timing-function(linear);
            color: $md-clr-grey-400;
            &:hover { color: inherit }
        }
    }
}
