@mixin respond-to($media) {
    @if $media == mobile {
        @content;
    }
    @else if $media == tablet {
        @media (min-width: $tablet) {
            @content;
        }
    }
    @else if $media == desktop {
        @media (min-width: $desktop) {
            @content;
        }
    }
}

@mixin clearfix() {
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both
    }
}

@mixin full() {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

@mixin selection() {
    $prefixes: ("-webkit-","-moz-", "");
    @each $prefix in $prefixes {
        ::#{$prefix}selection {
            background-color: $md-clr-blue-300;
            color: $md-clr-grey-900;
            text-shadow: none
        }
    }
}