@charset "UTF-8";

// Fonts
$orbitron: 'Orbitron', sans-serif;
$roboto: "Roboto", sans-serif;
$robotoCond: "Roboto Condensed", "Roboto", sans-serif;
$font-path: "../font" !default;

// Couleurs
$backgroundColor: #F0F0F0;
$gradColorFrom: #1B1B1B;
$gradColorTo: #141418;

$black: #000;
$blue: #1E90FF;
$orange: #FF9D00;
$salmon: #FA8071;
$white: #FFF;

$fontColor: #303030;
$fontColorLight: #CCC;
$fontColorFooter: #ACACAD;

$boxShadow: rgba(0, 0, 0, .15);

// Media Queries
$tablet: 768px;
$desktop: 1224px;

// Flat UI colors
$alizarin: #e74c3c;
$amethyst: #9b59b6;
$asbestos: #7f8c8d;
$belizehole: #2980b9;
$carrot: #e67e22;
$clouds: #ecf0f1;
$concrete: #95a5a6;
$emerland: #2ecc71;
$greensea: #16a085;
$midnightblue: #2c3e50;
$nephritis: #27ae60;
$orange: #f39c12;
$peterriver: #3498db;
$pomegranate: #c0392b;
$pumpkin: #d35400;
$silver: #bdc3c7;
$sunflower: #f1c40f;
$turquoise: #1abc9c;
$wetasphalt: #34495e;
$wisteria: #8e44ad;